:root {
    --main-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: var(--main-color);
    direction: rtl;
}
.loading {
    width: 100%;
    height: 100vh;
    background-color: #b7b5b5;
    transition: 1.5s ease;
    position: fixed;
    top: 0;
    
}
.loading img {
    width: 400px;
    height: 400px;
}
.loading h2 {
    position: relative;
    right: 47px;
    top: -40px;
}
@media(max-width: 1023px) {
    .loading img {
        width: 300px;
        height: 300px;
    }
}
.main {
    display: none;
    width: 100%;
    height: 100vh;
}
.navbar  {
    background-color: #b7b5b5;
}
.navbar img {   
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
@media(max-width:1023px) {
    .navbar img {
        position: relative;
        right: 144px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}
.navbar h1 {
    color: #198754;
}
.navbar .nav-link {
    text-transform: capitalize;
    transition: .3s ease;
}
.navbar .nav-link:hover {
    color: #198754;
}
.navbar .nav-link.activee {
    color: #198754;
}
.navbar .navbar-toggler {
    color: #198754;
    font: 25px;
    border-color: #198754;
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
@media(max-width: 1023px) {
    .navbar .navbar-toggler {
        display: none;
    }
}

.navbar-nav {
    margin-right: 700px;
}
.navbar-nav li {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
@media(max-width:1023px){
    .navbar-nav {
        margin-right: 0;
    }
}
.sittings {
    position: fixed;
    left: -507px;
    top: 73px;
    z-index: 1000;
    background-color: var(--main-color);
    width: 250px;
    min-height: 100vh;
    color: white;
    padding-top: 100px; 
    text-align: center;
    transition: .5s ease;
}
.sittings.open {
    left: 0;
    
}
@media(max-width:1023px) {
    .sittings {
        width: 100%;
        top: 60px;
    }
}
.sittings-box {
    background-color: #b7b5b5;
    width: 62%;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 50px;
}
.info {
    background-color: #b7b5b5;
    width: 80%;
    border-radius: 4px;
    position: absolute;
    left: 50px;
    top: 254px;
    color: black;
    display: none;
}
.x {
    position: absolute;
    left: 295px;
    border: none;
    outline: none;
}
.section-one img {
    width: 100%;
    height: 400px;
}
.section-two {
    width: 100%;
    height: 100vh;
    /* background-color: black; */
}
.icons-container {
    margin: auto;
    background-color: #ecebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-radius: 8px;
}
.icons-container span {
    font-size: 30px;
    color: #198754;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    padding: 15px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer span:first-child{
    font-size: 30px;
    color: white;
}
.footer span:nth-child(2) {
    font-size: 30px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 15px;
}
.footer span:nth-child(3) {
    font-size: 30px;
    color: white;
}
.closeBtn {
    color: #198754;
    background-color: var(--main-color);
    border: none;
    outline: none;
    position: absolute;
    left: 355px;
    top: 77px;
}
.content {
    margin: auto;
    background-color: #ecebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-radius: 8px;
    margin-top: 75px;
    height: 470px;
}
@media(max-width:641px) {
    .content {
        margin-top: 10px;
    }
}
.content h2 {
    margin-bottom: 20px;
}
.add {
    position: fixed;
    left: -507px;
    z-index: 1000;
    background-color: var(--main-color);
    min-height: 100vh;
    color: white;
    padding-top: 100px; 
    text-align: center;
    transition: .5s ease;
    width: 100%;
    top: 60px;
}
.add.openit {
    left: 0;
}
.xadd {
    background-color: var(--main-color);
    color: #198754;
    border: none;
    outline: none;
    position: absolute;
    left: 350px;
    top: 70px;
}
.xbutton {
    background-color: var(--main-color);
    color: #198754;
    border: none;
    outline: none;
    position: absolute;
    left: 350px;
    top: 70px;
}
.sllary {
    background-color: #b7b5b5;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 4px;
    height: 300px;
}
.sllaryout {
    background-color: #b7b5b5;
    margin: auto;
    margin-top: 10px;
    width: 90%;
    border-radius: 4px;
}
input {
    border: none;
    outline: none;
    border-radius: 4px;
}
#submit {
    width: 246px;
    margin: auto;
}
#dafaa {
    width: 200px;
}
.new {
    margin: auto;
    margin-top: 10px;
    width: 80%;
    font-size: 20px;
    position: absolute;
    top: 1159px;
}
.tqarirDiv {
    position: fixed;
    left: -507px;
    z-index: 1000;
    background-color: var(--main-color);
    min-height: 100vh;
    color: white;
    padding-top: 100px; 
    text-align: center;
    transition: .5s ease;
    width: 100%;
    top: 60px;
} 
.tqarirDiv.openn {
    left: 0;
}
.contaienrDiv {
    background-color: #b7b5b5;
    width: 93%;
    max-height: 500px;
    overflow: auto;
}
.hintDiv{
    padding: 5px;
}
.adfiBtn {
    border-bottom: 3px solid var(--main-color);
}
#msarifBtn {
    width: 200px;
}
.hitBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    text-align: start;
    border-radius: 4px;
    color: #198754;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}
.del {
    background-color: red;
    padding: 5px;
    border-radius: 4px;
    color: white;
}
.number {
    background-color: #0d6efd;
    color: white;
    border-radius: 4px;
    padding: 5px;
}
@media(min-width:300px) {
    .new {
        top: 608px;
    }
    .closeBtn {
        left: 326px;
        top: 69px;
    }
    .xadd {
        left: 329px;
    }
    .xbutton {
        left: 329px;
    }
    .sllary {
        width: 90%;
        height: 153px;
    }
    .contaienrDiv {
        max-height: 652px;
    }
    .hitBox{
        padding: 4px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .contaienrDiv {
        max-height: 500px;
    }
}
@media(min-width:400px) {
    .content {
        margin-top: 124px;
    }
    .new {
        top: 737px;
    }
    .closeBtn {
        left: 366px;
    }
    .contaienrDiv {
        max-height: 545px;

    }
}
@media(width:360px) {
    .content {
        height: 385px;
    }
    .new {
        top: 611px;
    }
}
@media(width:320px) {
    .icons-container span {
        font-size: 17px;
    }
    .content {
        height: 357px;
    }
    .new {
        top: 566px;
    }
    .xadd {
        left: 289px;
    }
    .xbutton {
        left: 289px;
    }
    .closeBtn {
        left: 282px;
    }
    .sittings-box {
        margin-bottom: 21px;
    }
}
@media(width:414px) {
    .content {
        height: 393px;
    }
    .new {
        top: 737px;
    }
}